{% extends "base.html" %}
{% load static %}

{% block title %}備品一覧{% endblock title %}

{% block content %}


    <div class="content">
      <div class="content-title">
        <h2>備品一覧</h2>
      </div>
      <div class="content-main">
        <div class="equip-add">
        <a href="{% url 'equipment:add' %}">備品追加</a>
        </div>

        <table width="50%" cellspacing="10" cellpadding="10">
          <tr align="center">
          <th bgcolor="#d3d3d3">名前</th>
          <th bgcolor="#d3d3d3">カテゴリー</th>
          <th bgcolor="#d3d3d3">設置場所</th>
          <th bgcolor="#d3d3d3">在庫数</th>
          </tr>
          {% for equip in equipment %}
          <tr align="center">
          <td><a href="{% url 'equipment:detail' equip.pk %}">{{ equip.equip_name }}</a> </td>
          <td>{{ equip.category }} </td>
          <td>{{ equip.place }} </td>
          <td>在庫数：{{ equip.stock }}</td>
          </tr>
          {% endfor %}
        </table>

      </div>

      
{% endblock content %}

