/* リセットスタイル */
body,
h1,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* 全体レイアウト */
body {
  background-color: #f5f5f5;
  color:#373737;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
  scrollbar-gutter: stable;
}

a:visited {
  color:inherit;
}

a:hover{
   text-decoration: underline;
  }

/* ナビゲーションバー */
header {
  background-color: #2e3b4e;
  height: 55px;
  width: 100%;

}

.nav-bar {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between; /* 横方向に並べる */
  align-items: center; /* 縦方向に中央揃え */
}

.nav-bar ul {
  display: flex; /* ul内のliを横並びにする */
  margin: auto 15px;
}

.nav-bar li {
  margin-right: 30px; /* 各liの右側にマージンを追加 */
}


.nav-left,
.nav-right {
  display: flex;
  align-items: center; /* 縦方向に中央揃え */
}

.nav-bar a {
  color: white;
}


/* コンテンツ */
.content {
  width: 70%;
  /*height: 150px;*/
  background-color: #FFFFFF;
  text-align: center;
  margin: 30px;
  border-radius:20px;
  box-shadow: 1px 5px 5px 0 rgba(189, 189, 189, 0.5);
}

.content-title {
  margin: 20px;
}

.content-main ul {
  display: flex; /* ul内のliを横並びにする */
  justify-content: space-around; /* 横方向に並べる */
  align-items: center; /* 縦方向に中央揃え */
  margin: 20px;
}

.content-main {
  margin: 30px;
  display: flex;
  flex-direction: column; /* 子要素を縦方向に並べる */
}

.content-main a{
  color:#009999;
}

.title {
  font-weight: 100;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  border-bottom: 1px solid gray;
}

.image {
    max-width: auto; /* 例えば300pxに制限する */
    height: 300px;
}

.detail {
  margin-bottom: 20px;
}

.small-text {
  font-size: 0.6em;
}


/* 編集と削除のボタン */
.edit-delete {
  display: flex;
  gap: 20px; /* ボタン間の間隔を20pxに設定 */
  justify-content: center; /* ボタンを中央揃え */
}

.edit-delete form {
  margin: 0; /* 各formのマージンを削除 */
}


/*フォーム系*/
.login-form {
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
}

.login-name,
.login-pass {
  margin-bottom: 15px;
}

.field {
  margin-bottom: 15px;
}

/* ボタンの設定 */
.button {
  width: 80px; /* ボタンの幅を調整 */
  height: 32px;
  border-radius: 5px;
  background-color: #009999;
  text-align: center;
  border-width: 0px;
  cursor: pointer;
  color: #FFFFFF;
}
.button:hover {
  background-color: #006666; /*カーソルを乗せた時の色*/
}

.add-button {
  width: 80px; /* ボタンの幅を調整 */
  height: 32px;
  border-radius: 5px;
  background-color: #009999;
  text-align: center;
  /* border: solid 1px black; */
  cursor: pointer;
  display: inline-block;
  line-height: 32px; /* ボタン内のテキストを縦中央揃え */
  text-decoration: none; /* リンクの下線を削除 */
  color: #FFFFFF; /* ボタンのテキストカラー */
  margin:0 0 0 auto;
}

.add-button a {
  font-size: 14px;
  color:#FFFFFF;
  
}

/* hoverスタイル */
.add-button:hover {
  background-color: #006666; /*カーソルを乗せた時の色*/
  text-decoration: none;

}

.add-button a:hover {

  text-decoration: none;

}