{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="nav-left">
                <ul>
                    {% if user.is_authenticated %} <!--ログインしているときの表示-->
                    <li><a href="{% url 'equipment:list' %}">備品一覧</a></li>
                    <li><a href="{% url 'order:history' %}">発注履歴</a></li>
                    {% else %}<!--ログインしてないときの表示-->
                    <li><a href="{% url 'users:index' %}">ホーム</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="nav-center">
                <p><font color=pink size=10px><b>※西澤手元開発用</b></font></p>


            </div>

            <div class="nav-right">
                <ul>
                    {% if user.is_authenticated %} <!--ログインしているときの表示-->
                    {% if user.is_authenticated %}
                    <li>ようこそ、 {{user.username}}さん</li>
                    {% endif %}
                    <li><a href="{% url 'users:users' %}">ユーザー一覧</a></li>
                    <li><a href="{% url 'logout' %}">ログアウト</a></li>
                    {% else %}<!--ログインしてないときの表示-->
                    <li><a href="{% url 'users:register' %}">新規登録</a></li>
                    <li><a href="{% url 'users:login' %}">ログイン</a></li>
                    {% endif %}
                </ul>
            </div>
          </div>
    </header>

    {% block content %}{% endblock content %}

  </body>
  </html>