{% extends "base.html" %}
{% load static %}

{% block title %}新規登録{% endblock title %}

{% block content %}

    <div class="content">
      <div class="content-title">
        <h2>新規登録</h2>
      </div>
      <div class="content-main">

        <form method="post">
          {% csrf_token %}
        {% if form.errors %}
        <div class="error">
            <p>入力にエラーがあります。もう一度ご確認ください。</p>
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="field">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
            <ul class="errorlist">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="field">
            {{ form.email.label_tag  }}
            {{ form.email }}
            {% if form.email.errors %}
            <ul class="errorlist">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="field">
            {{ form.password1.label_tag  }}<a>(英数字含む8文字以上)</a>
            {{ form.password1 }}
            {% if form.password1.errors %}
            <ul class="errorlist">
                {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="field">
            {{ form.password2.label_tag  }}
            {{ form.password2 }}
            {% if form.password2.errors %}
            <ul class="errorlist">
                {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="button">
            <input type="submit" value="Sign Up">
        </div>
      </div>
    </form>
    </div>

{% endblock content %}