{% extends "base.html" %}
{% load static %}

{% block title %}ログイン{% endblock title %}

{% block content %}


    <div class="content">
      <div class="content-title">
        <h2>ログイン</h2>
      </div><!--content-titleのとじ-->

      <div class="content-main">

        <form method="post">
          {% csrf_token %}
        <div class="login-form">

          {% if form.non_field_errors %}
          <ul class="errorlist">
            {% for error in form.non_field_errors %}
              <li><font color=red>{{ error }}</font></li>
            {% endfor %}
          </ul>
          {% endif %}

          <div class="login-name">
          {{ form.username.label_tag }}
          {{ form.username }}
          {% if form.username.errors %}
          <ul class="errorlist">
          {% for error in form.username.errors %}
               <li>{{ error }}</li>
          {% endfor %}
          </ul>
          {% endif %}
          </div><!--login-nameのとじ-->
          <div class="login-pass">
        {{ form.password.label_tag  }}
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errorlist">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div><!--login-passのとじ-->
        <div class="button-field">
          <input type="submit" value="ログイン" class="button">
        </div><!--buttonのとじ-->
      </form>

      </div><!--login-formのとじ-->
      <p>アカウントをお持ちでないですか？登録は<a href="{% url 'users:register' %}">こちら.</a></p>
      
      </div><!--content-mainのとじ-->

    </div><!--contentのとじ-->

{% endblock content %}