{% extends "base.html" %}
{% load static %}

{% block title %}ユーザー一覧{% endblock title %}

{% block content %}


    <div class="content">
      <div class="content-title">
        <h2>ユーザー一覧</h2>
      </div>
      <div class="content-main">

        <table width="90%" cellspacing="10" cellpadding="10">
          <tr align="center">
          <th bgcolor="#d3d3d3">ユーザー名</th>
          <th bgcolor="#d3d3d3">メールアドレス</th>
          <th bgcolor="#d3d3d3">スタッフ</th>
          <th bgcolor="#d3d3d3">管理者</th>
          <th bgcolor="#d3d3d3">操作</th>
          </tr>
          {% for user in users %}
          <tr align="center">
          <td>{{ user.username }} </td>
          <td>{{ user.email }} </td>
          <td>{{ user.is_staff }} </td>
          <td>{{ user.is_admin }}</td>
          <td><a href="{% url 'users:edit' user.id %}">編集</a></td>
          </tr>
          {% endfor %}
        </table>

      </div>

      
{% endblock content %}

